/* fonts */
@font-face {
  font-family: 'Bristol';
  src: url('bristol.regular.otf') format('opentype')

}
@font-face {
  font-family: 'Just Breathe';
  src: url('JustBreathe.otf') format('opentype')

}

html {
  cursor: url('Latte.cur'), pointer;
  background: #633f2a;
}
h1 { 
  margin: 2;
  font-family: 'Bristol', sans-serif;
  color: #fbfff1;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  
}
body { 
  margin: 1;
  font-family: 'Just Breathe', sans-serif;
  color: #fbfff1;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  
}
h5 {
  margin: 2;
  font-family: 'Just Breathe', sans-serif;
  color: #ebb1c6;
  text-align: center;
  font-size: 30px;
  
}

h6 {
  margin: 2;
  font-family: 'Just Breathe', sans-serif;
  color: #fbfff1;
  text-align: center;
  font-size: 25px;
  
}


.footer {
  font-family: 'Just Breathe', sans-serif;
  color: #fbfff1;
  text-transform: lowercase;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  text-align: center;
  line-height: 10;
}




.button {
  background: #af7f73;
  border-radius: 8px;
  padding: 6px;
  color: #ebb1c6;
  border-color: #ebb1c6;
  cursor: url("Latte\ Writing.cur"), pointer;
  transition: background 0.3s ease;
  font-family: 'Just Breathe', sans-serif;
    text-transform: lowercase;
    text-align: center;
  width: 100%;
  height: 100%;
}


/*page 1 button*/
.startorder {
  background: #af7f73;
  border-radius: 8px;
  padding: 6px;
  color: #fbfff1;
  border-color: #ebb1c6;
  cursor: url("Latte\ Writing.cur"), pointer;
  transition: background 0.3s ease;
  font-family: 'Just Breathe', sans-serif;
    text-transform: lowercase;
    text-align: center;
  width: 25%;
  position: relative;
}


.options {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/*page 2 button drinks*/

.dropdown-btn {
  padding: 10px 10px;
  cursor: url("Latte Writing.cur"), pointer;
  color: #fbfff1;
  border: none;
  border-radius: 10px;
  position: relative;
  display: inline-flex;
  transition: background 0.3s ease;
}
.dropdown-btn:hover {
  color: #af7f73;
}

.drinkcontent {
  display: none;
  width: 400px;
  max-height: 80%;
  background: #af7f73;
}

.drinkbutton {
  border-radius: 4px;
  padding: 6px;
  color: #fbfff1;
  background: #af7f73;
  border-color: #fbfff1;
  cursor: url("Latte\ Writing.cur"), pointer;
  transition: background 0.3s ease;
  font-family: 'Bristol', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.drinkbutton:hover, .drinkbutton.hovered {
  background: #633f2a;
}
.show {
  display: block;
  left: 100%;
}




.nav {
  margin-top: 30px;
  
}

/* MOBILE */
@media (max-width: 600px) {
  .options {
    flex-direction: column;
  }
}

/* coffee bean slider */
.sweetness-slider {
  -webkit-appearance: initial;
  appearance: initial;
  width: 82%;
  background: #ebb1c6;
  outline: black
}
.sweetness-slider:focus {
  outline: black
}
.sweetness-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
   height: 20px;
  width: 20px;
  background-image: url('coffeethumb.png');
  background-size: 100%;
  cursor: url('Latte Writing.cur'), pointer;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -6px;

}
.sweetness-labels {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  font-size: 14px;
}

.checkbox {
  cursor: url('Latte Writing.cur'), pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;

}



/*name box zestified*/
.namebox {
  font-family: 'Just Breathe', sans-serif;
  border: 2px solid #ebb1c6;
  cursor: pointer;
  border-radius: 8px;
  padding: 6px;
}

.carousel-item {
  display: none;
  vertical-align: middle;
  width: 300px;
  height: 300px;
  object-fit: fill;
  opacity: 2;
  position: relative;
}
img {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  object-fit: fill;
  opacity: 2;
  position: relative;
}
.carousel {
  max-width: 300px;
  position: relative;
  margin: auto;
}


